<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Coches en Stock</ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
  <p class="title">Concesionario El Rincón</p>

  <div>
    <ion-list>
      <ion-item>
        <ion-label class="header-item">
          <div class="car-column-header">Marca</div>
          <div class="car-column-header">Modelo</div>
          <div class="car-column-header">Motor</div>
          <div class="car-column-header">Precio</div>
        </ion-label>
      </ion-item>

      <ion-item *ngFor="let c of showCars">
        <ion-label class="car-item">
          <div class="car-column">{{ c.brand }}</div>
          <div class="car-column">{{ c.model }}</div>
          <div class="car-column">{{ c.engine }}</div>
          <div class="car-column">{{ c.price }}</div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="button-container">
    <ion-button (click)="goToCarList()">
      <ion-icon name="construct" slot="start"></ion-icon>
      Modificar Coches
    </ion-button>

    <ion-button (click)="goToCreateCar()">
      <ion-icon name="add" slot="start"></ion-icon>
      Añadir Coche
    </ion-button>
  </div>
</div>
